:root{
	--color-primary: #0027D5;
    --color-hover: coral;
    --color-ground: #f5f5f5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*---元素style---*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background: #FBFBFB;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    a:hover{
        color: var(--color-hover);
    }
    h1{
        font-size: 120px;
        font-weight: bold;
        color: var(--color-primary);
    }
    h2{
        font-size: 64px;
        font-weight: bold;
        padding: 40px 0px 20px 0px;
    }
    h3 {
        font-size: 28px;
        font-family: "Noto Serif HK", serif;
    }
    h4{
        font-size: 24px;
        font-weight: bold;
    }
    time{
        display: block;
    }
    .section{
        box-sizing: border-box;
    }
}
@media (max-width:860px){
    body{
        h3{
            font-size: 26px;
        }
    }
}
@media (max-width:767px) {
    body{
        h1{
            font-size: 80px;
        }
        h3{
            font-size: 24px;
        }
    }
}
.navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        background: #FBFBFB;
        padding-top: 30px;
        padding-bottom: 30px;

}
.container-fluid{
    display: flex;
    width: 100%;
    justify-content: center;
    .menu{
        display: flex;
        gap: 24px;
        list-style-type: none;
        color:#000;
        font-weight: bold;
        .menu-item{
            font-size: 28px;
        }
    }
}
/* -------------------------------------------------------------------------------------header */
/* -------------------------------------------------------------------------------------section-home1 */
.hero{
    padding-top: 100px;
    .h3br{
        display: none;
    }
}
.hero,.sub-hero{
    z-index: 100;
    display: flex;
    height: 100vh;
    .self-hero, 
    .text-hero{
        flex: 1;
        background-size: cover;
        background-position: center;
    }
    .self-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section.png');

    } 
    .text-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png');
        display: flex;
        align-items: center;
    }
    .text-overlay{
        padding-left: 5%;
        text-align: left;
        .descrip{
            color: var(--color-primary);
            font-weight: bold;
        }
    }
}
.sub-hero{
    border-top: 2px solid #29489e;
    border-bottom: 2px solid #29489e;
}
// ==========================
// Media Queries
// ==========================
@media (max-width: 1450px) {
  .hero h1 {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .hero,.sub-hero {
    h1 {
        font-size: 80px;
    }

    .text-overlay {
        width: 100%;
        padding-left: 10px;
    }
    flex-direction: column;
    .self-hero,
    .text-hero,
    .pic-hero,.blogpic,
    .info-hero{
        width: 100%;
    }
    .self-hero{
        min-height: 520px;
    }
  }
}

@media (max-width: 767px) {
.hero{
    // h1 {
    //     font-size: 52px;
    // }
    .h3br{
        display: inline;
    }
    // h3{
    //     font-size: 24px;
    // }
}
}
/* -------------------------------------------------------------------------------------section-home1 */
/* -------------------------------------------------------------------------------------section-newpost */
.sub-hero{
    height: auto;
}
.pic-hero {
    display: flex;
    width: 50%;
    overflow: hidden;
    .blogpic {
        width: 100%;
        height: auto; /* 根據圖片比例自動調整 */
        object-fit: contain; /* 可選，讓圖片保持比例 */           
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;
    }
    .blogpic:hover {
        transform: scale(1.1) rotate(2deg);
    }
}
.info-hero{
    width: 50%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    p{
        display: inline-block;
        width: 85%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    h3{
        font-weight: bold;
    }
    h4 a{
        color: var(--color-primary);
        font-weight: bold;
    }
    /*收合的class*/
    .collapsed {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 顯示兩行 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.btn_read{
    background: #ffffff;
    background-color: 2px solid
    black;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px 10px 15px ;
    border-radius: 100px;
    text-align: center;

    &:hover{
        color: white;
        background: #000;
    }
}
@media (max-width: 992px) {
    .info-hero{
        justify-content: center;
        height: 30vh;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media (max-width: 767px){
    .info-hero{
        min-height: 40vh;
    }
}
/* -------------------------------------------------------------------------------------section-newpost */
/* -------------------------------------------------------------------------------------sectionBlog */
.container{
    width: 80%;
    max-width: 1640px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.searchWrapper {
    position: relative;
    width: fit-content;
    margin-bottom: 80px;
}

.searchBox {
    border: 2px solid #a6b8da;
    width: 400px;
    font-size: 20px;
    border-radius: 28px;
    padding: 10px;
    padding-left: 42px; /* 調整留白以配合 icon 寬度 */
}

.bi-search {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #a6b8da;
}
.blog-wrapper{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .blogpic{
        width: 100%;
        transition: transform 0.3s ease; /* 動畫效果 */
    }
    .blogpic:hover {
      transform: scale(1.1) rotate(2deg); /* 放大並旋轉 */
    }
    .blogpic-wrap{
        max-width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    h3,h4{
        padding: 0;
        a{
            color: var(--color-primary);
        }
    }
    .card{
        padding: 0px;
        max-width: 32%;
    }
    /*收合的class*/
    .collapsed {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 顯示兩行 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (max-width: 1200px) {
    .blog-wrapper{
        .card{
            max-width: 48%;
        }
    }
}
@media (max-width: 774px) {
    .blog-wrapper{
        .card{
            max-width: 96%;
        }
    }
    .searchBox{
        width: 350px;
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .searchBox{
        width: 100%;
        font-size: 16px;
    }
}
/* -------------------------------------------------------------------------------------sectionBlog */
/* -------------------------------------------------------------------------------------footer */
footer{
    border: 2px solid var(--color-ground);
    text-align: center;
    padding: 24px;
}