:root{
	--color-primary: #0027D5;
    --color-ground: #f5f5f5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*---元素style---*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background: #FBFBFB;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    h1{
        font-size: 120px;
        font-weight: bold;
        color: var(--color-primary);
    }
    h2{
        font-size: 64px;
        font-weight: bold;
        padding: 40px 0px 20px 0px;
    }
    h3 {
        font-size: 28px;
        padding: 15px 0px 15px 0px;
        font-family: "Noto Serif HK", serif;
    }
    h4{
        font-size: 24px;
        padding: 10px 0px 10px 0px;
    }
    time{
        display: block;
    }
    .section{
        padding-bottom: 80px;
        box-sizing: border-box;
    }
}
// @media (max-width:860px){
//     body{
//         h1{
//             font-size: 100px;
//         }
//         h2{
//             font-size: 52px;
//         }
//         h3{
//             font-size: 26px;
//         }
//     }
// }
// @media (max-width:767px) {
//     body{
//         h1{
//             font-size: 80px;
//         }
//         h2{
//             font-size: 42px;
//         }
//         h3{
//             font-size: 22px;
//         }
//     }
// }
/*---元素style---*/
/* -------------------------------------------------------------------------------------header */
.navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        background: #FBFBFB;
        padding-top: 30px;
        padding-bottom: 30px;

    }
.container-fluid{
    display: flex;
    justify-content: center;
    .menu{
        display: flex;
        gap: 24px;
        list-style-type: none;
        color:#000;
        font-weight: bold;
        .menu-item{
            font-size: 28px;
        }
    }
}
/* -------------------------------------------------------------------------------------header */
/* -------------------------------------------------------------------------------------section-home1 */
.hero,
.sub-hero{
    display: flex;
    height: 100vh;
}
.hero{
    padding-top: 100px;
    z-index: 100;
    .self-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section.png');
    } 
    .text-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png');
        display: flex;
        align-items: center;
    }
    .text-overlay{
        padding-left: 5%;
        text-align: left;
        .descrip{
            color: var(--color-primary);
            font-weight: bold;
        }
    }
    .h3br {
        display: none;
    }
}
/* 左右背景圖 */
.self-hero, 
.text-hero,
.sub-self-hero,
.sub-text-hero{
    flex: 1;
    background-size: cover;
    background-position: center;
}

.introBox{
    width: auto;
    position: relative; /* 加這一行 */
    max-width: 1080px;
    padding: 65px 40px 65px 40px;
    background: rgba(255, 255, 255, 0.86);
    z-index: 199;
    font-size: 28px;
    margin-top: -10%;
    margin-bottom: auto;
    margin-left: auto;
    transition: transform 0.3s ease; /* 加上平滑效果 */

    &:hover{
        transform: translateX(-10px);
    }
    .social{
        margin-top: 20px;
        display: flex;
        justify-content: left;
    }
    .social-li{
        display: flex;
        justify-content: space-around;
        gap: 19px;
        list-style-type: none;
        transition: transform 0.3s ease; /* 加上平滑效果 */

        img:hover{
            transform: scale(1.2) translateY(-2px);
        }
    }
}


// ==========================
// Media Queries
// ==========================
@media (max-width: 1450px) {
  .hero h1 {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .hero {
    h1 {
        font-size: 80px;
    }
    .text-overlay {
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }
    .text-hero {
        align-items: start;
        padding-top: 20px;
        min-height: 320px;
    }
  }

  .hero,
  .sub-hero {
    flex-direction: column;
  }

  .self-hero,
  .text-hero,
  .sub-self-hero,
  .sub-text-hero {
    width: 100%;
  }
  .self-hero,
  .sub-self-hero {
    min-height: 520px;
  }

  .introBox {
    margin-top: -15%;
    width: 90%;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .hero h1 {
    font-size: 52px;
  }
  .introBox .social-li {
    gap: 3px;
  }
  .introBox{
    margin-top: -5%;
  }
  .hero .h3br{
    display: inline;
  }
}
/* -------------------------------------------------------------------------------------section-home1 */
/* -------------------------------------------------------------------------------------section-service */
.container{
    width: 80%;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    h3{
        font-weight: bold;
    }
}

.mainCol{
    justify-content: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 70%;
    }
}
.serviceBox1,.serviceBox2{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    .itemBoxR,.itemBoxL{
        width: 35%;
        background: #ffff;
        position: absolute;
        right: 0px;
        padding: 24px;
    }
    .itemBoxL{
        left: 0;
    }
}
.serviceBox2{
    justify-content: flex-end;
}


.service-bottom{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease; /* 加上平滑效果 */

    &:hover{
        transform: translateX(-10px);
    }
    i{
        font-size: 35px;
    }
}

// ==========================
// Media Queries
// ==========================
@media (max-width: 992px) {
    .container h2{
        text-align: center;
    }
    .mainCol img{
        width: 100%;
    }
    .serviceBox1,
    .serviceBox2{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        .itemBoxL,.itemBoxR{
            position: relative;
            width: 100%;
        }
    }
}
/* -------------------------------------------------------------------------------------section-service */
/* -------------------------------------------------------------------------------------section-blog */
.container-lg{
    width: 90%;
    padding-top: 32px;
    padding-bottom: 38px;
    max-width: 1480px;
    position: relative;
}
.swiper-wrapper{
    width: 80%;
}
.swiper{
    margin-left: 60px;
    margin-right: 60px;
}
.swiper-controls{
    width: 110%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    .swiper-button-custom {
    font-size: 3rem;
    cursor: pointer;
    color: var(--color-primary);
    z-index: 499;
    padding: 10px;
    }
}

.card-list{
    margin-bottom: 40px;
    p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .blogpic{
        width: 100%;
        transition: transform 0.3s ease; /* 動畫效果 */
    }
    .blogpic:hover {
      transform: scale(1.1) rotate(2deg); /* 放大並旋轉 */
    }
    .blogpic-wrap{
        max-width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    h3,h4{
        padding: 0;
        a{
            color: var(--color-primary);
        }
    }
    .card{
        padding: 10px;
    }
    /*收合的class*/
    .collapsed {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 顯示兩行 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btn_read,.btn-consult{
    background: #ffffff;
    background-color: 2px solid
    black;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px 10px 15px ;
    border-radius: 100px;
    text-align: center;

    &:hover{
        color: white;
        background: #000;
    }
}
// ==========================
// Media Queries
// ==========================
@media (max-width:767px) {
    .swiper-controls{
        width: 100%;
        justify-content: end;
        position: relative;
        margin-top: 20px;
    }
}
@media (max-width:680px) {
    .container-lg{
    width: 100%;
    }
}
/* -------------------------------------------------------------------------------------section-blog */
/* -------------------------------------------------------------------------------------section-consult */
.consult-board{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 16px;
    font-weight: bold;
    p{
        display: block;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
.box-pic{
    width: 83%;
    padding: 0;
    .focus-pic{
        width: 70%;
        border: 24px solid #EDEDED;
    }
}
.box-text{
    width: 56%;
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 45%;
    .b-top,.b-down{
        width: 100%;
        display: flex;
    }
    .b-top{
        position: relative;
    }
    .b-down{
        justify-content: end;
        position: absolute;
        top: 90%;
    }
    .box-w,.box-g{
        width: 56%;
        padding: 80px 40px 80px 40px;
    }
    .box-w{
        background: #ffffff;
    }
    .box-w span{
        color: var(--color-primary);
    }
    .box-g{
        background: var(--color-ground);
    }
}
.btn-consult{
    background: #ffffff;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    &:hover{
        background: var(--color-primary);
        color: #ffffff;
    }
}
.podcast-list{
    background: var(--color-ground);
    padding: 24px;
    margin-top: 40px;
    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            width: 23%;
        }
    }
    hr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.podcast-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    i{
        color: var(--color-primary);
        margin-right: 10px;
    }
    img{
        width: 80px;
    }
}
// ==========================
// Media Queries
// ==========================
@media (max-width:1440px) {
    .box-text{
    .box-w,.box-g{
        width: 80%;
        padding: 40px 20px 40px 20px;
    }
    }
}
@media (max-width:992px) {
    .consult-board{
        flex-direction: column;
    }
    .box-text{
        position: relative;
            .b-down{
            position: relative;
        }
    }
    .box-pic,.box-text{
        width: 100%;
        .box-w,.box-g,.focus-pic,.b-top,.b-down{
            width: 100%;
        }
        .focus-pic{
            border: 10px solid #EDEDED;
        }
    }
    .podcast-list ul li{
        width: 45%;
        margin-bottom: 20px;
    }
} 
@media (max-width:767px){
    .podcast-list ul li{
        width: 90%;
    }
}
/* -------------------------------------------------------------------------------------section-consult */
/* -------------------------------------------------------------------------------------section-subscribe */
.sub-hero{
    margin-bottom: 100px;
    .sub-text-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png');
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub-self-hero{
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/photo9.png');
    } 
}
.sub-overlay{
    padding: 80px;
    background: #ffffff;
    h4 span{
        color: var(--color-primary);
    }
    input{
        display: block;
        background: var(--color-ground);
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        font-size: 18px;
    }
}
// ==========================
// Media Queries
// ==========================
@media (max-width:992px){
    .sub-overlay{
        padding: 40px 20px 40px 20px;
    }
}
/* -------------------------------------------------------------------------------------section-subscribe */
/* -------------------------------------------------------------------------------------section-contact */
.contact-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        font-size: 30px;
    }
    a h3{
        display: flex;
        align-items: center;
        img{
            width: 50px;
        }
    }
}
.contact-list ul li{
    transition: transform 0.3s ease; /* 加上平滑效果 */
    &:hover{
        transform: translateY(-5px);
    }
}
// ==========================
// Media Queries
// ==========================
@media (max-width:767px){
    .contact-item{
        flex-direction: column;
        align-items: start;
    }
    .contact-list{
        max-width: 580px;
    }
}
/* -------------------------------------------------------------------------------------section-contact */
/* -------------------------------------------------------------------------------------footer */
footer{
    border: 2px solid var(--color-ground);
    text-align: center;
    padding: 24px;
}
 
