:root{
	--color-primary: #0027D5;
}
/*---元素style---*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background: #FBFBFB;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    font-size: 120px;
    font-weight: bold;
    color: var(--color-primary);
}
h2{
    font-size: 64px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}
h3 {
    font-size: 28px;
    padding: 15px 0px 15px 0px;
}
/*---元素style---*/
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #FBFBFB;
    padding-top: 30px;
    padding-bottom: 30px;

}
.container-fluid{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    gap: 24px;
    list-style-type: none;
    color:#000;
    font-size: 28px;
    font-weight: bold;
}
.menu-item a{
    color: #000;
}
.hero{
    display: flex;
    height: 100vh;
    position: relative;
    padding-bottom: 350px; /* 根據 introBox 的高度調整 */
    padding-top: 100px;
}

/* 左右背景圖 */
.self-hero, .text-hero{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.self-hero{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section.png');
} 
.text-hero{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png');
    display: flex;
    align-items: center;
}
.text-overlay{
    padding-left: 5%;
    text-align: left;
}
.descrip{
    color: var(--color-primary);
    font-weight: bold;
}
.introBox{
    width: auto;
    max-width: 1060px;
    padding: 80px 40px 80px 40px;
    background: #ffffff;
    z-index: 9;
    font-size: 28px;
    position: absolute;
    top: 85%; /* 使 introBox 上推85%，有一部份蓋住 hero */
    left: 40%; /* 向左靠齊，留40%空間 */
}
.social{
    margin-top: 20px;
    display: flex;
    justify-content: left;
}
.social-li{
    display: flex;
    justify-content: space-around;
    gap: 19px;
    list-style-type: none;
}
.wrap2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.wrap2 h3{
    font-weight: bold;
}
.mainCol{
    justify-content: center;
}
.serviceBox1,.serviceBox2{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.serviceBox2{
    justify-content: flex-end;
}
.mainCol img{
    width: 70%;
}
.itemBoxR,.itemBoxL{
    width: 35%;
    background: #ffff;
    position: absolute;
    right: 0px;
    padding: 24px;
}
.itemBoxL{
    left: 0;
}
.service-bottom{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 10px;
}
/* ---------------RWD--------------- */
@media (max-width: 926px) {
    h1{
        font-size: 52px;
    }
    .text-overlay{
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }
    .hero{
        flex-direction: column;
        padding-bottom: 250px;
    }
    .self-hero, .text-hero{
        width: 100%;
    }
    .text-hero{
        align-items: flex-start;
        padding-top: 20px;
    }
    .introBox{
        top: 80%;
        left: 5%;
        right: 5%;
        padding: 40px 20px 40px 20px;
    }
    .wrap2 h2{
        text-align: center;
    }
    .mainCol img{
        width: 100%;
    }
    .serviceBox1,.serviceBox2{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .itemBoxL,.itemBoxR{
        position: relative;
        width: 100%;
    }
}
