:root{
	--color-primary: #0027D5;
}
/*---元素style---*/
body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
h1{
    font-size: 120px;
    font-weight: bold;
    color: var(--color-primary);
}
h3 {
    font-size: 28px;
}
/*---元素style---*/
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #FBFBFB;
    padding: 30px;
}
.container-fluid{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    gap: 24px;
    list-style-type: none;
    color:#000;
    font-size: 28px;
    font-weight: bold;
}
.menu-item a{
    color: #000;
}
.hero{
    display: flex;
    height: 100vh;
}

/* 左右背景圖 */
.self-hero, .text-hero{
    flex: 1;
    background-size: cover;
    background-position: center;
}
.self-hero{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section.png');
} 
.text-hero{
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png');
    display: flex;
    align-items: center;
}
.text-overlay{
    padding-left: 80px;
    text-align: left;
}
.descrip{
    color: var(--color-primary);
    font-weight: bold;
}
.introBox{
    width: auto;
    padding: 80px 40px 80px 40px;
    background: #b5c6d1;
    z-index: 999;
    font-size: 28px;
}
.social{
    display: flex;
    justify-content: left;
}
.social-li{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    list-style-type: none;
}